# Configurações Gerais do Banco de Dados (Docker Local / Referência)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Conexão do Prisma com o Supabase
DATABASE_URL="postgresql://postgres.seu_projeto_id:sua_senha@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.seu_projeto_id:sua_senha@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# Conexões Específicas por Schema de Microsserviço
DATABASE_URL_AUTH="postgresql://postgres.seu_projeto_id:sua_senha@aws-1-us-east-1.pooler.supabase.com:5432/postgres?schema=public"
DATABASE_URL_DEMAND="postgresql://postgres.seu_projeto_id:sua_senha@aws-1-us-east-1.pooler.supabase.com:5432/postgres?schema=demand"

# Segurança e Comunicação Interna
JWT_SECRET=change-me
REDIS_URL=redis://redis:6379

# Definição das URLs internas que o API Gateway precisa para achar os contêineres Docker
AUTH_SERVICE_URL=http://auth-service:3001
DEMAND_SERVICE_URL=http://demand-service:3002
METRICS_SERVICE_URL=http://metrics-service:3003
NEXT_PUBLIC_DEMAND_API_URL=http://localhost:8080

# Exemplo de Token Vercel OIDC (Apenas molde, substitua pelo seu válido se necessário)
VERCEL_OIDC_TOKEN="insira_seu_token_vercel_aqui"